<link href="../bower_components/ihover/src/ihover.min.css" rel="stylesheet">
<div class="row">
	<div class="col-md-3">
		<ul class="nav nav-pills nav-stacked">
			<li class="active"><a href="#/products">木铝门窗<span class="badge pull-right">42</span></a></li>
			<li><a href="#/products">铝木门窗<span class="badge pull-right">12</span></a></li>
		</ul>
	</div>
	<div class="col-md-9">
		<div class="row">
			<div class="col-md-6">
				<div class="ih-item square effect13 left_to_right"><a href="#/products">
						<div class="img"><img src="images/prod1.jpg" alt="prod1"></div>
						<div class="info">
							<h3>门窗1</h3>
							<p>门窗描述1</p>
						</div>
					</a></div>
					<div class="caption">
						<h3>门窗1</h3>
						<p>水电费拉开距离建瓯建瓯安师大发送到发生发送到发送到发撒巅峰撒巅峰撒旦发送到发撒巅峰萨芬水电费</p>
						<p><a href="#/products" class="btn btn-primary" role="button">了解详细</a><a href="#/products" class="btn btn-default" role="button">更多</a></p>
					</div>
			</div>
			<div class="col-md-6">
				<div class="ih-item square effect13 left_to_right"><a href="#/products">
						<div class="img"><img src="images/prod2.jpg" alt="prod2"></div>
						<div class="info">
							<h3>门窗2</h3>
							<p>门窗描述2</p>
						</div>
					</a></div>
					<div class="caption">
						<h3>门窗2</h3>
						<p>水电费拉开距离建瓯建瓯安师大发送到发生发送到发送到发撒巅峰撒巅峰撒旦发送到发撒巅峰萨芬水电费</p>
						<p><a href="#/products" class="btn btn-primary" role="button">了解详细</a><a href="#/products" class="btn btn-default" role="button">更多</a></p>
					</div>
			</div>
		</div>
		<div class="row">
			<div class="col-md-6">
				<div class="ih-item square effect13 left_to_right"><a href="#/products">
						<div class="img"><img src="images/prod3.jpg" alt="prod3"></div>
						<div class="info">
							<h3>门窗3</h3>
							<p>门窗描述3</p>
						</div>
					</a></div>
					<div class="caption">
						<h3>门窗3</h3>
						<p>水电费拉开距离建瓯建瓯安师大发送到发生发送到发送到发撒巅峰撒巅峰撒旦发送到发撒巅峰萨芬水电费</p>
						<p><a href="#/products" class="btn btn-primary" role="button">了解详细</a><a href="#/products" class="btn btn-default" role="button">更多</a></p>
					</div>
			</div>
			<div class="col-md-6">
				<div class="ih-item square effect13 left_to_right"><a href="#/products">
						<div class="img"><img src="images/prod4.jpg" alt="prod4"></div>
						<div class="info">
							<h3>门窗4</h3>
							<p>门窗描述4</p>
						</div>
					</a></div>
					<div class="caption">
						<h3>门窗4</h3>
						<p>水电费拉开距离建瓯建瓯安师大发送到发生发送到发送到发撒巅峰撒巅峰撒旦发送到发撒巅峰萨芬水电费</p>
						<p><a href="#/products" class="btn btn-primary" role="button">了解详细</a><a href="#/products" class="btn btn-default" role="button">更多</a></p>
					</div>
			</div>
		</div>
		<div class="row">
			<div class="col-md-6">
				<div class="ih-item square effect13 left_to_right"><a href="#/products">
						<div class="img"><img src="images/prod5.jpg" alt="prod5"></div>
						<div class="info">
							<h3>门窗5</h3>
							<p>门窗描述5</p>
						</div>
					</a></div>
					<div class="caption">
						<h3>门窗5</h3>
						<p>水电费拉开距离建瓯建瓯安师大发送到发生发送到发送到发撒巅峰撒巅峰撒旦发送到发撒巅峰萨芬水电费</p>
						<p><a href="#/products" class="btn btn-primary" role="button">了解详细</a><a href="#/products" class="btn btn-default" role="button">更多</a></p>
					</div>
			</div>
			<div class="col-md-6">
				<div class="ih-item square effect13 left_to_right"><a href="#/products">
						<div class="img"><img src="images/prod6.png" alt="prod6"></div>
						<div class="info">
							<h3>门窗6</h3>
							<p>门窗描述6</p>
						</div>
					</a></div>
					<div class="caption">
						<h3>门窗6</h3>
						<p>水电费拉开距离建瓯建瓯安师大发送到发生发送到发送到发撒巅峰撒巅峰撒旦发送到发撒巅峰萨芬水电费</p>
						<p><a href="#/products" class="btn btn-primary" role="button">了解详细</a><a href="#/products" class="btn btn-default" role="button">更多</a></p>
					</div>
			</div>
		</div>
	</div>
</div>